$basicExtraDark: #2d3440;
$basicDark: #565c66;
$basicNeutral: #b9b9b9;
$basicLight: #e7e7e7;
$basicLxtraLight: #fcfcfc;
$basicWhite: #ffffff;
$specialExtraBright: #ff2f64;
$specialBright: #ff4a78;
$specialNeutral: #ff7799;
$specialLight: #feafc3;
$specialExtraLight: #ffcbd8;
$specialBlue: #69a9ff;
$specialYellow: #fcc850;
$statusError: #ea5454;
$statusWarning: #fd912e;
$statusSuccess: #00e484;
